
<div ng-app="{{ app_name }}">
  <div ng-controller="{{ controller_name }}">
     <!-- for angular vars use {{ interpolateprovider }} var name {{ interpolateprovider }} -->
      <!-- see https://groups.drupal.org/node/511061 -->

      First name: <input ng-model="firstName" type="text"/>
      <br/>
      Last name: <input ng-model="lastName" type="text"/>
      <br/>

      <h4> Access Angular vars </h4>
      <p> Example if using '~~' as default.</p>
      ~~firstName~~ ~~lastName~~

  </div>
</div>